.card{
    padding: 2em;
    margin: 1em 1em;
    color:white;
    box-shadow: 1px 1.5px 10px black;
    width: 18rem;
    background-color: #1F487E;
}

.card-img-top{
    object-fit: cover;
    height: 10rem;
    box-shadow: 1px 1.5px 5px black;
    border-radius: 0em 4em 0em 4em;
}

.btn{
    margin: 0em 1em;
    font-weight: 600;
    border-radius: 2em;
}