#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  
}


/* responsive  */
@media only screen and (max-width: 768px) {

  .contenedor {
    flex-direction: column; /* Cambiar a una dirección de columna */
    align-items: center; /* Centrar los elementos verticalmente */
  }



}